version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: express-app
    ports:
      - "5050:5050"
    environment:
      BASE_URL: "http://localhost:5050"
      DB_NAME: "exampleDb"
      PORT: "5050"
      SECRET: "supersecret"
    volumes:
      - .:/app
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: "exampleDb"

volumes:
  mongo-data:
